
body {
    background-color: #FFC0CB;
    padding: 20px;
    border-radius: 10px;
    margin: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.8s ease;
}



h1 {
    font-size: 70px;
    font-family: "Dosis", sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 40px;
}

p {
    font-size: 25px;
    font-family: "Dosis", sans-serif;    
    text-align: center;
}

button {
    font-size: 20px;
    font-family: "Dosis", sans-serif;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.8s ease;
}

button:hover {
    background-color: #FFC0CB;
}