body {
    background-color: #FFD1Dc;
    font-family: 'Dosis';
    margin: 0;
    padding: 0;
}

form {
    width: 600px;
    text-align: center;
}

form input {
    height: 50%;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

.form-position {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 100%;
    background-color: white;
    font-size: 60px;
    font-family: Dosis;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-family: Dosis;
    text-align: center;
}

button {
    color: white;
    font-family: dosis;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 200px;
    height: 45px;
    border-radius: 20px;
    border: 1.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: rgba(65, 65, 65, 0.708);
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}

.button-position {
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: rgb(46, 46, 46);
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    margin-left: 10px;
}

::placeholder {
    color: black;
    font-family: "Kanit", sans-serif;
    font-size: larger;
}

.relogin-text {
    text-align: center;
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    color: black;
}

a {
    color: black;
}